.*
.git
.github
.github
.idea
.vscode
.waypoint
*.bat
*.log
*.md
*.png
*.toml
*.tpl
*.hcl
contracts/wasm
Dockerfile
docOps/
documentation
evmemulator
gascalibration
packages/snapshot
packges/vm/wasmlib
schema
snapshot
tools
wal
wasp
wasp-cli
wasp-cluster
waspdb
