wasp.log
/wasp
/wasp-cli
/wasp-cluster
/dbinspector
/evmemulator
/schema
/submsg
waspdb/
cluster-data/
dist/
.idea/
.vscode/
*.bat
*.bak
wasp-cli.json
**/pkg/
**/target/
.DS_Store
./tools/wasp-cli/wasp-cli
.docusaurus
**/node_modules/
goshimmer.log
/*.sh
