**/go/main.go
**/go/*/consts.go
**/go/*/contract.go
**/go/*/eventhandlers.go
**/go/*/events.go
**/go/*/params.go
**/go/*/results.go
**/go/*/state.go
**/go/*/structs.go
**/go/*/thunks.go
**/go/*/typedefs.go

**/rs/*/src/consts.rs
**/rs/*/src/contract.rs
**/rs/*/src/eventhandlers.rs
**/rs/*/src/events.rs
**/rs/*/src/lib.rs
**/rs/*/src/params.rs
**/rs/*/src/results.rs
**/rs/*/src/state.rs
**/rs/*/src/structs.rs
**/rs/*/src/thunks.rs
**/rs/*/src/typedefs.rs
**/rs/*/Cargo.*
**/rs/*/LICENSE
**/rs/*/README.md
**/rs/main

**/ts/*/consts.ts
**/ts/*/contract.ts
**/ts/*/eventhandlers.ts
**/ts/*/events.ts
**/ts/*/index.ts
**/ts/*/params.ts
**/ts/*/results.ts
**/ts/*/state.ts
**/ts/*/structs.ts
**/ts/*/thunks.ts
**/ts/*/tsconfig.json
**/ts/*/typedefs.ts
**/ts/*/*.js

**/ts/main.ts
**/ts/main.js
**/ts/tsconfig.json

*.wasm
