**/go/main.go
**/go/*/consts.go
**/go/*/contract.go
**/go/*/eventhandlers.go
**/go/*/events.go
**/go/*/lib.go
**/go/*/params.go
**/go/*/results.go
**/go/*/state.go
**/go/*/structs.go
**/go/*/typedefs.go

**/rs/*/consts.rs
**/rs/*/contract.rs
**/rs/*/eventhandlers.rs
**/rs/*/events.rs
**/rs/*/lib.rs
**/rs/*/params.rs
**/rs/*/results.rs
**/rs/*/state.rs
**/rs/*/structs.rs
**/rs/*/typedefs.rs
**/rs/main

**/ts/*/consts.ts
**/ts/*/contract.ts
**/ts/*/eventhandlers.ts
**/ts/*/events.ts
**/ts/*/index.ts
**/ts/*/lib.ts
**/ts/*/params.ts
**/ts/*/results.ts
**/ts/*/state.ts
**/ts/*/structs.ts
**/ts/*/tsconfig.json
**/ts/*/typedefs.ts
**/ts/*/*.js

**/ts/main.ts
**/ts/main.js
**/ts/tsconfig.json

*.wasm
