*/go/*/consts.go
*/go/*/contract.go
*/go/*/lib.go
*/go/*/params.go
*/go/*/results.go
*/go/*/state.go
*/go/*/eventhandlers.go
*/go/*/events.go
*/go/*/structs.go
*/go/*/typedefs.go

*/src/consts.rs
*/src/contract.rs
*/src/lib.rs
*/src/params.rs
*/src/results.rs
*/src/state.rs
*/src/eventhandlers.rs
*/src/events.rs
*/src/structs.rs
*/src/typedefs.rs

*/ts/*/consts.ts
*/ts/*/contract.ts
*/ts/*/lib.ts
*/ts/*/params.ts
*/ts/*/results.ts
*/ts/*/state.ts
*/ts/*/eventhandlers.ts
*/ts/*/events.ts
*/ts/*/structs.ts
*/ts/*/typedefs.ts
*/ts/*/index.ts
*/ts/*/tsconfig.json
