@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Metropolis Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Metropolis Bold'), url('fonts/Metropolis-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Metropolis Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Metropolis Regular'), url('fonts/Metropolis-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Metropolis Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Metropolis Medium'), url('fonts/Metropolis-Medium.woff') format('woff');
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background-color: #1e2439;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;

	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
