@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Metropolis Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Metropolis Bold'), url('fonts/Metropolis-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Metropolis Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Metropolis Regular'), url('fonts/Metropolis-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Metropolis Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Metropolis Medium'), url('fonts/Metropolis-Medium.woff') format('woff');
}
:root{
	/* Breakpoints */
	--desktop-width:1024px; /*
	
	/*Palette*/
	--blue-dark:#141e31;
	--mint-green-light:#14CABF;
	--mint-green:#00e0ca;
	--mint-green-dark:#36A1AC;
	--gray-3:#D8E1F4;
	--gray-5:#909FBE;
	--white:#ffffff;

}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background-color: #1e2439;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;

	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input, button {
	cursor: pointer;
}

input:disabled, button:disabled {
	cursor: default;
	pointer-events: none;
}

h1 {
	font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.75px;
    color: #ffffff;
	margin:0;
}
@media (min-width: 1024px) {
	h1{
		font-size: 48px;
		line-height: 120%;
	}
  }

/* Custom utility classes */

.eyebrow {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.5px;
	color: var(--mint-green-dark);
	line-height: 150%;
  }

.panel{
	background: rgba(6, 16, 35, 0.2);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 8px 24px;
    width: 100%;
}
@media (min-width: 1024px) {
	.panel{
		background: var(--blue-dark);
		border: 1px solid rgba(255, 255, 255, 0.12);
		border-radius: 12px;
		padding: 16px;
	}

  }
/*  */