@import "@fontsource/barlow";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: "Barlow";
  @apply text-base;
  @apply text-white;
  @apply relative;
  @apply bg-shimmer-background;
  @apply relative z-0;
}

* {
  box-sizing: border-box;
}

/*********** Scrollbar styles ***********/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #122b3d;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #082235;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #04111b;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #04111b;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
