@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body {
    --navbar-height: 60px;
    --footer-height: 64px;
    @media screen and (min-width: 590px) {
        --navbar-height: 72px;
    }
    color: white; 
    background: #04111b;
    background: radial-gradient(farthest-corner at top right, #00e0c7 -44%, #00121f 40%, #00121f 100%);
   
}
main{
  background-image: url('/group-ellipse.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
/**
  Cheap UI stuff
*/

button {
  background: rgba(16, 140, 255, 0.12);
  border: 1px solid #57aeff;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  width: 100%;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #192742;
  border: 1px solid #405985;
  border-radius: 5px;
  color: #9aadce;
}

.input_container {
  margin: 15px;
}

input[type='text'],
select {
  background: #1b2d4b;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  width: 100%;
}

