@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  color: white;
  @apply bg-shimmer-background;
  @apply relative;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.input_container {
  margin: 15px;
}

input[type="text"],
select {
  background: #1b2d4b;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
