@import '@fontsource/barlow';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Barlow';
  @apply text-base;
  @apply text-white;
  @apply relative;
  @apply bg-shimmer-background;
  @apply relative z-0;
}

* {
  box-sizing: border-box;
}

input[type="text"],
select {
  background: #1b2d4b;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.dot-primary {
  &::before {
    content: "";
    position: absolute;
    left: 16px;
    width: 8px;
    height: 8px;
    @apply bg-shimmer-action-primary;
    border-radius: 50%;
  }
}

/*********** Baseline, reset styles ***********/
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type='range']:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #061928;
  border-radius: 0.5rem;
  height: 8px;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #00f5dd;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type='range']:focus::-webkit-slider-thumb {
  outline: 3px solid #00f5dd;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type='range']::-moz-range-track {
  background-color: #061928;
  border-radius: 0.5rem;
  height: 8px;
}

/* slider thumb */
input[type='range']::-moz-range-thumb {
  background-color: #00f5dd;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type='range']:focus::-moz-range-thumb {
  outline: 3px solid #00f5dd;
  outline-offset: 0.125rem;
}

/*********** Scrollbar styles ***********/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #122b3d;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #082235;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #04111b;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #04111b;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
