:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #192742;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  padding: 2rem;
}

/**
  Cheap UI stuff
*/

button {
  background: rgba(16, 140, 255, 0.12);
  border: 1px solid #57aeff;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  width: 100%;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #192742;
  border: 1px solid #405985;
  border-radius: 10px;
  color: #9aadce;
}

.input_container {
  margin: 15px;
}

input[type='text'],
select {
  background: #1b2d4b;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  width: 100%;
}
