name: Test

on:
  pull_request:
    branches: [develop]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup dependencies
        run: sudo apt-get install libgflags-dev libsnappy-dev zlib1g-dev libbz2-dev liblz4-dev libzstd-dev

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Build
        run: make build

      - name: Test
        run: make test-short-no-wasm

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go

      - name: Setup golangci-lint Action
        uses: nickhstr/action-setup-golangci-lint@v0.1.0

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Generate SC files
        run: |
           go install ./tools/schema
           cd contracts/wasm
           for dir in */ ; do
                cd ${dir};
                schema -go -rust -ts;
                cd ..;
           done
           cd gascalibration
           for dir in */ ; do
                cd ${dir};
                schema -go;
                cd ..;
           done
           cd ..
           golangci-lint run --fix

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: latest
          args: --timeout 5m0s
